* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

.zakat-contant {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
}

.zakat-contant h1 {
  font-weight: 700;
  font-size: 55px;
  line-height: 75px;
  color: #FFFFFF;
}

.zakat-contant p {
  width: 500px;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  padding: 25px 0px 30px;
}

.zakat-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 15px 20px;
  background: #e72e44;
  border-radius: 5px;
}

.d-flex {
  display: flex;
  align-items: center;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

/* General Css End */

/* Header Css Start */
#zakatHeader .header-contant {
  width: 90%;
  height: 600px;
  background-image: url('./images/header-bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-left: 10%;
}

/* Header Css End */

/*  */